<!DOCTYPE html>
<html lang="en">
   
    <head>
        <style>
            body{background-image:url('https://previews.123rf.com/images/microstocker2/microstocker21511/microstocker2151102078/47854847-business-accounting-background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
background-repeat:no-repeat;}
            </style>
        <meta charset="UTF-8">
        <title>class11_CommerceAccounts</title>
    </head>
    <body>
   <center>
     <h1><strong>Grade-11 CommerceAccounts videolecture</strong></h1>
      <h3>  <p style="color:black">Hello students!you can find the video lecture for your subject below.<br><i>Happy Learning!</i></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hRiOyJt6vBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </h3> </center></body>
</html>
