<!DOCTYPE html>
<html lang="en">
   
    <head>
        <style>
            body{background-image:url('https://previews.123rf.com/images/samarttiw/samarttiw1603/samarttiw160300020/55867934-medical-abstract-science-background-illustrations.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
background-repeat:no-repeat;}
            </style>
        <meta charset="UTF-8">
        <title>class11_Physics</title>
    </head>
    <body>
   <center>
     <h1><strong>Grade-11 Physics videolecture</strong></h1>
        <h3><p style="color:black">Hello students!you can find the video lecture for your subject below.<br><i>Happy Learning!</i></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/R8fuCuu1PpM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </h3> </center> </body>
</html>