<!DOCTYPE html>
<html lang="en">
   
    <head>
        <style>
            body{background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQkRW8uJg27irLEMuLFRy2134s7lEWcQXFCZQ&usqp=CAU');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
background-repeat:no-repeat;}
            </style>
        <meta charset="UTF-8">
        <title>class4_SocialScience</title>
    </head>
    <body>
   
     <h><strong>Grade-4 SocialStudies videolecture</strong></h>
        <p style="color:black">Hello students!you can find the video lecture for your subject below.<br><i>Happy Learning!</i></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1jzTUYC4e20" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>
