<!DOCTYPE html>
<html lang="en">
   
    <head>
        <style>
            body{background-image:url('https://c4.wallpaperflare.com/wallpaper/695/257/306/river-under-the-bridge-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
background-repeat:no-repeat;}
            </style>
        <meta charset="UTF-8">
        <title>class6_Science</title>
    </head>
    <body>
   
     <h><strong>Grade-6 Science videolecture</strong></h>
        <p style="color:black">Hello students!you can find the video lecture for your subject below.<br><i>Happy Learning!</i></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/umiezekti3o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>
