<!DOCTYPE html>
<html lang="en">
<head><title>about us</title>{% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
           <style type = "text/css">
    

body
  {
         background-image:url('https://img.freepik.com/free-photo/cheerful-teenager-pointing-left_23-2147669008.jpg?size=626&ext=jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
background-repeat:no-repeat;


}
</style>
</head>
<body>
    <center>
    <h1>ABOUT US</h1>
    </center>
<br><br><br>
<center>
    <h2>MAPPED</h2>
    <h2>
    <p>
        The subject-wise content  offers is mapped to the school curriculum.
        With Fliplearn, you have access to every</p>
        <p>concept and subject that is taught in school from KG to 12th. 
    </p></h2>
</center>
    <br>
    <br>
    <center>
        <h2>PERSONALISED LEARNING</h2>
    
    <p>helps work out your shortcomings effectively. With our app, you can learn at your own pace and</p>
    <p>
         time using integrated home-classroom learning that allows you to practice and revise from home.</p>
    </center>
         <br><br>
<center>
    <h2>ANYTIME ANYWHERE ACCESSIBILTY</h2>
<h2>
<p>
    Fliplearn gives you the benefit of learning at your own pace and in your own style. 
    Video Lectures can be accessed any number of</p>
    <p> times as and when you want. You can also access lessons and
     practice sessions as per your convenience.
</p></h2>
</center>
<br><br>
    <center>
        <h2>
            SMART SCHOOL
        </h2>
    <h2>
    <p>
        Our features allow to send homework,assignments and much more.

    </p></h2>
    </center>
</body>
</html>