<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background-image:url('https://img2.goodfon.com/wallpaper/nbig/2/da/studying-blue-girl-beautiful-student.jpg');
background-size: cover;
background-position: center center;
background-attachment: fixed;
background-repeat:no-repeat;}
        </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-book</title>
</head>
<body>
    <center><h1>
        E-BOOKS FOR ALL CLASSES ARE HERE
    </h1><br><br></center>
    <h1>GRADE 1</h1>
    <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
    <button><a href="https://www.tntextbooks.in/p/1st-books.html">click here to view and download</a></button>
    
<br><h1>GRADE 2</h1>
<h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
    <button><a href="https://www.tntextbooks.in/p/2nd-books.html">click here to view and download</a></button>
        <br><h1>GRADE 3</h1>
        <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
            <button><a href="https://www.tntextbooks.in/p/3rd-books.html">click here to view and download</a></button>
                <br><h1>GRADE 4</h1>
                <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
                    <button><a href="https://www.tntextbooks.in/p/4th-books.html">click here to view and download</a></button>
                        <br><h1>GRADE 5</h1>
                        <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
                             <button><a href="https://www.tntextbooks.in/p/5th-books.html">click here to view and download</a></button>
                                <br><h1>GRADE 6</h1>
                                <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
                                    <button><a href="https://www.tntextbooks.in/p/6th-books.html">click here to view and download</a></button>
                                        <br><h1>GRADE 7</h1>
                                        <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
                                            <button><a href="https://www.tntextbooks.in/p/7th-books.html">click here to view and download</a></button>
                                                <br><h1>GRADE 8</h1>
                                                <h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
                                                <button><a href="https://www.tntextbooks.in/p/8th-books.html">click here to view and download</a></button>
        <br><h1>GRADE 9</h1>
<h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
    
    <button><a href="https://www.tntextbooks.in/p/9th-books.html">click here to view and download</a></button>
        <br><h1>GRADE 10</h1>
<h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
    
    <button><a href="https://www.tntextbooks.in/p/10th-books.html">click here to view and download</a></button>
        <br><h1>GRADE 11</h1>
<h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
    
    <button><a href="https://www.tntextbooks.in/p/11th-books.html">click here to view and download</a></button>
        <br><h1>GRADE 12</h1>
<h3>YOU CAN DOWNLOAD THE BOOKS HERE</h3>
    <button><a href="https://www.tntextbooks.in/p/12th-books.html">click here to view and download</a></button>                                                                                               
    </body>
</html>