{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BACK 2 SCHOOL</title>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
<body>
  <div class="cont">

    <div class="form sign-in">
      <h2>Sign In</h2>
      <form method="POST" name="signin" action=""> {% csrf_token %}
        <label>
          <span>Email Address</span>
          <input type="email" name="email">
        </label>
        <label>
          <span>Password</span>
          <input type="password" name="password">
        </label>
        <input type="hidden" name="type" value="signin" />
        <button class="submit" type="submit" value="signin">Sign In</button>
        <br><br>
        {% if Error %}
          <p>{{Error}}</p>    
        {% endif %}
      </form>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>
      <div class="form sign-up">
        <h2>Sign Up</h2>
        <form method="POST" action=""> {% csrf_token %}
          <label>
            <span>Name</span>
            <input type="text" name="name">
          </label>
          <label>
            <span>Email</span>
            <input type="email" name="email">
          </label>
          <label>
            <span>Password</span>
            <input type="password" name="password">
          </label>
          <label>
            <span>Confirm Password</span>
            <input type="password" name="cpassword">
          </label>
          <button class="submit" type="submit" value="signup">Sign Up Now</button>
          {% if Error1 %}
            <p>{{Error1}}</p>    
          {% endif %}
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript" src="{% static 'js/wel.js' %}"></script>
  
  
  </body>
</html>
