<!DOCTYPE html>
<html lang="en">
   
    <head>
        <style>
            body{background-image:url('https://www.freegreatpicture.com/files/93/24838-student-class-photo.jpg ');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
background-repeat:no-repeat;}
            </style>
        <meta charset="UTF-8">
        <title>Kindergarten</title>
    </head>
    <body>
   <center>
     <h1><strong>Kindergarten - NUMBERS</strong></h1>
        <h3><p style="color:black">Hello kids, today we're going to make it to numbers <br><i>lets start!</i></p></h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ea5-SIe5l7M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </center>   </body>
   
</html>
