<!DOCTYPE html>
<html lang="en">
   
    <head>
        <style>
            body{background-image:url('https://www.freegreatpicture.com/files/93/23169-student39s-educational-picture.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
background-repeat:no-repeat;}
            </style>
        <meta charset="UTF-8">
        <title>Kindergarten</title>
    </head>
    <body>
   <center>
     <h1><strong>Kindergarten - RHYMES</strong></h1>
        <h3><p style="color:black">Hello kids,lets  learn some Rhymes<br><i>Are you ready!</i></p></h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F4tHL8reNCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/abJ3n6EYHxg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N9orD-i8C-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br><br><br>
    
        <h1><strong>Kindergarten - ALPHABET</strong></h1>
        <h3><p style="color:black">Hello kids,today we're going to learn Alphabets<br><i>lets go!</i></p></h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hq3yfQnllfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
    
    </body>
   
</html>